.hero-content {
  position: relative;
  display: block;
  opacity: 0;
  transform: perspective(400px) rotateY(0deg) translateY(-120px);
  transform-origin: top;
  transition: all 1000ms ease;
  z-index: 44;
}

.hero {
  :global(.swiper-slide-active) {
    .hero-content {
      opacity: 1;
      transform: perspective(400px) rotateY(0deg) translateY(0px);
      transition-delay: 700ms;
    }
    .hero-bg {
      transform: scale(1.05);
    }
  }
}

.hero-swiper {
  position: relative;
}

.hero-swiper :global(.swiper-pagination) {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 20;
}

.custom-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-bullet-active {
  background: #ffffff;
  transform: scale(1.2);
}
